.center
{
    text-align: center;
}

.title
{
    overflow: hidden;
    position: relative;
}

.title-content
{
    text-align: center;
    position: relative;
}

.bg
{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}