@font-face
{
    src: url(fonts/barbie.ttf);
    font-family: barbie;
}

body
{
    background: url(/images/bgrnd_page.jpg);
    background-repeat: repeat-x repeat-y;
}

.center
{
    text-align: center;
}

.title
{
    overflow: hidden;
    position: relative;
    font-family: barbie;
}

.title-content
{
    text-align: center;
    position: relative;
    color: #ffff;
    margin-top: 2rem !important;
}

.bg
{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.nav
{
    width: 100%;
    background-color: #555;
    overflow: auto;
    background: url("https://64.media.tumblr.com/581a32b6949ee56237a2504516d847b7/tumblr_nndsupyeCc1urnwvbo1_500.jpg");
    background-repeat: repeat-x repeat-y;
    font-family: barbie;
    margin-top: 2rem !important;
}

.nav ul
{
    list-style: none;
    text-align: center;
}

.nav a
{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Five equal-width links.*/
    text-align: center;
}

.nav a:hover
{
    background-color: #FF007F;
}


@media screen and (max-width: 500px)
{
    .navbar a
    {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
}

.hero
{
    text-align: center;
    margin-top: 2rem !important;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: barbie;
    margin-bottom: 2rem !important;
    color: #ffff;
}

.hero img
{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

