@font-face
{
    src: url(fonts/barbie.ttf);
    font-family: barbie;
}
html, body
{
    margin: 0;
    padding: 0;
}

html
{
    background: url(/images/bgrnd_page.jpg);
    background-repeat: repeat-x repeat-y;
    font-size: 10px;
}

body
{
    background-color: #F665B0;
    margin: 0 auto;
    font-size: 20px;
    width: 70%;
    font-family: barbie;
    text-align: center;
}

header
{
    overflow: hidden;
    position: relative;
    text-shadow: 2px 2px 10px white;
}

h1
{
    font-size: 4rem;
}

h2
{
    font-size: 3rem;
}

h3
{
    font-size: 2.2rem;
}

p, li
{
    font-size: 1.6rem;
    line-height: 1.5;
}



nav
{
    height: 50px;
    background: url("https://64.media.tumblr.com/581a32b6949ee56237a2504516d847b7/tumblr_nndsupyeCc1urnwvbo1_500.jpg");
    background-repeat: repeat-x repeat-y;
    display: flex;
    margin-bottom: 10px;
    padding: 1%;
}

nav ul
{
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li
{
    display: inline;
    text-align: center;
    flex: 1;
}

nav a
{
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
