body {background-color: #E4F6F8;}
h1{
    font-family: 'helvetica', sans-serif;
    color: red;
    font-size: 25px;
    margin-bottom: 15px;
}
ul{
    font-family: 'helvetica';
    color: #3b147b;
    font-size: 20px;
    list-style-type: ;
    padding: 0;
}
a
{
    text-decoration: none;
    color: #0078d4;
}
a:hover
{
    text-decoration: underline;
}
body
{
    font-family: Arial, sans-serif;
    margin: 10px;
}
