/* Tabs Sorter by Gabriela Aguilar 2023 - Style Sheet */

body
{
    background:blue url('/images/background.png');
    opacity: 0.6;
}

h1
{
    font-family: 'helvetica', sans-serif;
    color: red;
    font-size: 25px;
    margin-bottom: 15px;
}

ul
{
    font-family: 'helvetica';
    color: #3b147b;
    font-size: 15px;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: Arial, sans-serif;
    margin: 10px;
}
