{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Welcome to your Portfolio</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>
                    {{stock.symbol}}
                </td>
                <td>
                    {{stock.name}}
                </td>
                <td>
                    {{stock.shares| int}}
                </td>
                <td>
                    {{stock.price | usd}}
                </td>
                <td>
                    {{(stock.price  * stock.shares)| usd}}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th id="total" colspan="4" style="text-align:right;">Cash:</th>
              <td class="left">{{cash | usd}}</td>
            </tr>
            <tr></tr>
              <th id="total" colspan="4" style="text-align:right;">Total:</th>
              <td class="left">$10.000</td>
            </tr>
           </tfoot>
    </table>
{% endblock %}
